<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>agm_db</title>
</head>
<body>
    <div class=main>
        <a href="https://github.com/albertjseo/agm_db" target="_blank"><h1>Custom IgBLAST Database</h1></a>
        <h5>Project Type: Python</h5>
        <!--<a href="https://github.com/albertjseo/agm_db" target="_blank" class="footer-social"><i class="fa fa-github"></i></a>-->
        <hr>
        <h2>Purpose</h2>
        <p>
            While working as a research scientist/engineer at the University of Washington, I commonly received samples from
            African Green Monkeys (AGM) to study current and potential vaccine candidates for various Coronaviruses. Unfortunately,
            AGMs are not a common species and the lab expressed the need for studying the AGM genetic sequence in order to fully explore vaccine development.
        </p>
        <h2>A walkthrough</h2>
        <p>
            I followed as well as reviewed literature that had studied and characterized AGMs in their vaccine / immune studies.
            From there, I validated the reported sequences in the lab with the help of my colleagues and compiled a genetic sequence dataframe.
            I loaded the dataframe into a queryable format following the IgBLAST database format. Once loaded, I tested the pre-packaged apps
            that access the NCBI API to compare the AGM dataframe to existing biological data.
        </p>
    </div>
</body>
</html>