<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cell_morphology</title>
</head>
<body>
    <div class=main>
        <h1>Cell Morphology Tracker</h1>
        <h5>Project Type: MATLAB</h5>
        <!--<a href="https://github.com/albertjseo/cell-image-processing" target="_blank" class="footer-social"><i class="fa fa-github"></i></a>-->
        <hr>
        <h2>Purpose</h2>
        <p>
            At Seattle Children's Research Institute, our lab aimed to further characterize the mast cell
            surface proteome to obtain a better understanding of how mast cells function in health and disease. Cell
            surface protein CD98 heavy chain (CD98hc), encoded by the Slc3a2 gene, was identified as a key protein.
            Slc3a2 gene disruption was identified to result in a significant reduction in CD98hc expression, adhesion,
            and proliferation. To better characterize SLC3a2 gene disruption, it was imperative to develop a method to
            track cell phenotypes.</p>
        <h2>A walkthrough</h2>
        <p>
            I used MATLAB to create a program that uses image processing and computer vision to analyze biological
            samples on a microscope slide, determining cell morphology differences between wild-type cells and mutant
            (SLC3a2 deficient) cells.
        </p>
    </div>
</body>
</html>