<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>covid_sql</title>
</head>
<body>
    <div class=main>
        <h1>COVID-19 Analysis with SQL</h1>
        <h5>Project Type: Python, HTML, CSS, SQL, Flask</h5>
       <!-- <a href="https://github.com/albertjseo/covid19-analysis-with-sql" target="_blank" class="footer-social"><i class="fa fa-github"></i></a> -->
        <hr>
        <h2>Purpose</h2>
        <p>
            After the COVID-19 pandemic, case tracking and insight seemed pivotal in understanding the outbreak as well
            as key events. As a research scientist, I wanted to explore historical reporting for COVID-19 cases across
            different locations and continents to provide insight and answers for key events as well as provide further
            exploratory and/or predicative analysis.
        </p>
        <h2>A walkthrough</h2>
        <p>UNDER CONSTRUCTION</p>
    </div>
</body>
</html>