<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>drug_discovery</title>
</head>
<body>
    <div class=main>
        <h1>Drug Discovery</h1>
        <h5>Project Type: Python</h5>
        <!-- <a href="https://github.com/albertjseo/drug-discovery" target="_blank" class="footer-social"><i class="fa fa-github"></i></a> -->
        <hr>
        <h2>Purpose</h2>
        <p>
            On-going personal project that stemmed from professional experiences to optimize searching online sources
            for specific protein targets to explore vaccine candidates in a research setting.
        </p>
        <h2>A walkthrough</h2>
        <p>
            I used the chEMBL database to focus on coronavirus proteins, specifically MERS-Cov.
        </p>
    </div>
</body>
</html>