<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>sample_survey</title>
</head>
<body>
    <div class=main>
        <a href="https://github.com/albertjseo/survey_sample" target="_blank"><h1>Sample Survey</h1></a>
        <h5>Project Type: JavaScript, React, CSS</h5>
        <!-- <a href="https://github.com/albertjseo/survey_sample" target="_blank" class="footer-social"><i class="fa fa-github"></i></a> -->
        <hr>
        <h2>Purpose</h2>
        <p>
            Personal project that stemmed from professional experience that requires providing a survey tool embedded within a customizable webpage.
        </p>
    </div>
</body>
</html>