<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>valorant_tracker</title>
</head>
<body>
    <div class=main>
        <h1>Valorant Rank Tracker</h1>
        <h5>Project Type: Python, HTML, CSS, Flask, API</h5>
        <!--<a href="https://github.com/albertjseo/valorant-tracker" target="_blank" class="footer-social"><i class="fa fa-github"></i></a>-->
        <hr>
        <h2>Purpose</h2>
        <p>
            While there are a variety of custom apps that provide player metrics for Valorant, I attempt to provide
            players the ability to view their historical metrics to provide insight into player behavior, preferences
            as well as potential forecasting.
        </p>
        <h2>A walkthrough</h2>
        <p>
            I used the RIOT API which provides player in-game information for RIOT titles. Front end queries are done
            through Python and the RIOT API.
        </p>
    </div>
</body>
</html>