<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>aboutme</title>
    </head>

    <body>
        <!-- About Me -->
        <div class="main" style="height: 550px" id="about_me">
            <h3 style = "margin-bottom:-20px">ABOUT ME</h3>
            <hr>
            <p>An energetic, ambitious, self‐sufficient leader who understands the importance of teamwork. With 4+
                years of experience in a data‐driven environment, I have developed a passionate and mature approach
                for a technology advancing setting. In combination with my programming skills, I hope to use my
                experience as a critical thinker and problem solver to further expand and contribute to the data
                science field.</p>
            <br>
            <h3 style = "margin-bottom:-10px">Education:</h3>
            <h4 style = "margin-bottom:-10px">University of Illinois Urbana-Champaign [Aug. 2023 - Aug. 2027]</h4>
                <p style="text-indent:10px;">M.Eng Bioengineering - Computational Biology</p>
            <h4 style = "margin-bottom:-10px">University of Washington [Sept. 2014 - Mar. 2020]</h4>
                <p style="text-indent:10px;">B.S. Physics - Biophysics</p>
            <br>
            <h3 style = "margin-bottom:-10px">Skills:</h3>
            <p>Python, HTML, CSS, MATLAB, JavaScript</p>

        </div>

    </body>
</html>