<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>projects</title>
</head>
<body>
    <!-- Projects -->
    <div class="main" style="height: 500px" id="projects">
        <h3>PROJECTS</h3>
        <hr>
        <a href="/cell_morphology"><h3>Cell Morphology Tracker</h3></a>
        <a href="/covid_sql"><h3>COVID-19 with SQL</h3></a>
        <a href="/drug_discovery"><h3>Drug Discovery</h3></a>
        <a href="/agm_db"><h3>Custom IgBLAST Database</h3></a>
        <a href="/valorant_tracker"><h3>Valorant Tracker</h3></a>
        <a href="/sample_survey"><h3>Sample Survey</h3></a>

    </div>

</body>
</html>